BasedOnStyle: LLVM
ConstructorInitializerIndentWidth: '3'
IndentWidth: '3'
TabWidth: '3'
ColumnLimit: '140'
MaxEmptyLinesToKeep: '2'
UseTab: Never


Standard: Cpp11

AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignEscapedNewlinesLeft: 'true'
AlignOperands: 'true'
AlignTrailingComments: 'true'

AllowAllParametersOfDeclarationOnNextLine: 'false'

AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'true'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLoopsOnASingleLine: 'false'

AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'true'
AlwaysBreakTemplateDeclarations: 'true'

BinPackArguments: 'false'
BinPackParameters: 'false'
BreakBeforeBraces: Custom

BraceWrapping:
 AfterClass: 'true'
 AfterControlStatement: 'true'
 AfterEnum: 'true'
 AfterFunction: 'true'
 AfterNamespace: 'false'
 AfterStruct: 'true'
 AfterUnion: 'true'
 BeforeCatch: 'true'
 BeforeElse: 'true'
 IndentBraces: 'false'

BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: 'false'
BreakConstructorInitializersBeforeComma: 'true'


ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
Cpp11BracedListStyle: 'false'

DerivePointerAlignment: 'false'

DisableFormat: 'false'

ExperimentalAutoDetectBinPacking: 'false'

IndentCaseLabels: 'true'
IndentWrappedFunctionNames: 'false'

KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp

SortIncludes: 'true'

NamespaceIndentation: None

PointerAlignment: Left

SpaceAfterCStyleCast: 'false'
SpaceBeforeAssignmentOperators: 'true'
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '3'
SpacesInAngles: 'false'
SpacesInCStyleCastParentheses: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'true'
AccessModifierOffset: -3
ContinuationIndentWidth: 3
